@theme {
   --breakpoint-tabl: 768px;
   --breakpoint-lapt: 1024px;
   --breakpoint-desk: 1280px;
   --breakpoint-maxw: 1660px;

   --radius-xs: calc(var(--ui-radius) * 1);
   --radius-sm: calc(var(--ui-radius) * 1.8);
   --radius-md: calc(var(--ui-radius) * 2.5);
   --radius-lg: calc(var(--ui-radius) * 3);
   /* xl deve ser === md */
   --radius-xl: calc(var(--ui-radius) * 2.5);

   --text-xs: 10px;
   --text-sm: 12px;
   --text-base: 14px;
   --text-base-line-height: 22px;
   --text-md: 15px;
   --text-lg: 17px;
   --text-lg-line-height: 23px;
   --text-xl: 18px;
   --text-xl-line-height: 26px;
   --text-2xl: 22px;
   --text-2xl-line-height: 32px;
}
