:root {
   --ui-container: 80rem;
   --radius-xl: calc(var(--ui-radius) * 4.5);
   --font-sans: 'Open Sans', sans-serif;
   --font-brand: 'Work Sans', sans-serif;
}

body {
   @apply bg-[#fcf1f2]/75;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
   /* // ignore suggestCanonicalClasses, keep ui */
   @apply text-(--ui-primary);
}

.blog-post-content h2 {
   margin-top: --spacing(6);
   font-size: var(--text-xl);
   line-height: var(--text-xl-line-height);
   @apply font-semibold text-[#2c1e25];
}

.blog-post-content h3 {
   margin-top: --spacing(4);
   font-size: var(--text-lg);
   line-height: var(--text-lg-line-height);
   @apply font-semibold text-[#2c1e25];
}

.blog-post-content p {
   font-size: var(--text-base);
   line-height: --spacing(8);
   @apply whitespace-pre-line text-[#5f4853];
}

@media (width >= 40rem) {
   .blog-post-content p {
      font-size: var(--text-lg);
   }
}

.blog-post-content ul,
.blog-post-content ol {
   gap: --spacing(2);
   padding-left: --spacing(5);
   font-size: var(--text-base);
   line-height: --spacing(8);
   @apply grid text-[#5f4853];
}

@media (width >= 40rem) {
   .blog-post-content ul,
   .blog-post-content ol {
      font-size: var(--text-lg);
   }
}

.blog-post-content ul {
   @apply list-disc;
}

.blog-post-content ol {
   @apply list-decimal;
}

.blog-post-content li {
   padding-left: --spacing(1);
}

.blog-post-content strong {
   @apply font-semibold text-[#2c1e25];
}
